/* themes */
/* When nothing is loaded, the default theme will be applied. */
/* see https://github.com/hiroppy/fusuma#themes */
/* @import '@fusuma/client/assets/style/themes/pop.css'; */
/* @import '@fusuma/client/assets/style/themes/babel.css'; */
/* @import '@fusuma/client/assets/style/themes/webpack.css'; */
/* @import '@fusuma/client/assets/style/themes/node.css'; */

/* global config */
/* When you want to change the default values, please uncomment. */
/* see https://github.com/hiroppy/fusuma/blob/master/packages/client/assets/style/variables.css */
:root {
--base-font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
--color-title: #073898;
--color-base: #3a3f4a;
--color-background: #ededef;
--color-link: #b35b11;
/* --base-font-size: 2.4rem; */
/* --base-font-weight: 300; */
/* --base-align: center; */
/* --base-max-width: 1280px; */
/* --base-outer-margin: 24px; */
/* --base-image-width: 100%; */
/* --base-image-border-radius: 0; */
/* --h1-font-size: 5.6rem; */
/* --h2-font-size: 4rem; */
/* --h3-font-size: 3.6rem; */
/* --code-font-size: 1.8rem; */
/* --account-icon-size: 3rem; */
}

strong {
    font-weight: bold;
}

body {
  letter-spacing: 1px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */

h1 {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    margin-bottom: 24px;
}

h2 {
    margin-bottom: 16px;
}

pre {
    line-height: 1.8 !important;
}

h4 {
    font-weight: bold;
    margin-bottom: 16px;
}

ul {
    list-style-type: disc;
    margin: 0;
}

li {
    padding: 8px 0;
    letter-spacing: 1px;
}

.self-introduce {
    max-width: 360px;
    max-height: 100%;
}

.column.flex-start {
    align-items: flex-start;
    flex: 6;
}

.left .slide-internal-box h2,
.left .slide-internal-box ul {
    text-align: left;
    width: 100%;
}

li ul {
    margin-top: 16px;
}